*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: "Dinpro_medium"; 
    src: url("../fonts/dinpro_condensedmedium.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Dinpro_light"; 
    src: url("../fonts/dinpro_condensedlight.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
body {
    font-family: "Dinpro_light";
    height: 100vh;
}
.start {
    background: #48EAFF;
    background: url('./media/images/bg_start.png') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
}
.start_title {
    color: #fff;
    text-transform: uppercase;
    font-size: 92px;
    line-height: 90%;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 5px;
}
.start_subtitle {
    color: #000;
    font-size: 22px;
    line-height: 90%;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 25px;
    font-weight: 300;
}
.start_btn {
    font-family: "Dinpro_medium";
    width: 190px;
    height: 64px;
    text-transform: uppercase;
    font-size: 36px;
    border-radius: 30px;
    border: 4px solid #000;
    transition: .3s;
    background: #fff;
    cursor: pointer;
}
.start_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}

.bonnie_start {
    height: 40%;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.sea_start {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -10px;
    left: 0;
    animation: sea_start 3s ease-in-out infinite 0.5s;
}
.sea_waves{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: -30px;
    left: 0;
    animation: sea_start2 3s ease-in-out infinite 0.5s;
}
@keyframes sea_start {
    0%{
        transform: rotate(0) ;
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0) ;
    }
}
@keyframes sea_start2 {
    0%{
        transform: rotate(0) ;
    }
    50% {
        transform: rotate(2deg)  translateY(10px) translateX(-10px);
    }
    100% {
        transform: rotate(0) ;
    }
}

/* yacht */
.yacht {
    height: 30%;
    position: absolute;
    bottom: 270px;
    left: 10%;
    animation: yacht 8s ease-in-out infinite 0.5s;
}
@keyframes yacht {
    0%{
        transform: translateY(0) ;
    }
    50% {
        transform: translateX(-12px) rotate(7deg);
    }
    100% {
        transform: translateY(0) ;
    }
}

/* palm ========================= */
.palm_start-one{
    position: absolute;
    left: -60px;
    bottom: -40px;
    height: 50%;
    animation: palm_start-one 4s ease-in-out infinite 0.5s;
    transform: scale(-1, 1)
}
.palm_start-two {
    position: absolute;
    right: -40px;
    top: 100px;
    height: 80%;
    animation: palm_start-two 4s ease-in-out infinite 0.5s;
    
}
@keyframes palm_start-two {
    0%{
        transform: translateY(0);
    }
    50% {
        transform:  translateY(10px) rotate(-7deg);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes palm_start-one {
    0%{
        transform: translateY(0) scale(-1, 1);
    }
    50% {
        transform: translateX(10px) rotate(5deg) scale(-1, 1);
    }
    100% {
        transform: translateY(0) scale(-1, 1);
    }
}

/* clouds ========================= */
.cloud_start-one {
    position: absolute;
    right: 3%;
    top: 100px;
    height: 8%;
}
.cloud_start-two {
    position: absolute;
    right: 14%;
    top: 100px;
    height: 8%;
    animation: clouds2 8s ease-in-out infinite 0.5s;
}
.cloud_start-three {
    position: absolute;
    right: 85px;
    top: 30px;
    height: 17%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
.cloud_start-four {
    position: absolute;
    left: 2%;
    top: 3%;
    height: 30%;
}
.cloud_start-five {
    position: absolute;
    left: -1%;
    top: 20%;
    height: 18%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
.cloud_start-six {
    position: absolute;
    left: 12%;
    top: 30%;
    height: 15%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}

@keyframes clouds {
    0%{
        transform: translateY(0) ;
    }
    50% {
        transform: translateX(7px) ;
    }
    100% {
        transform: translateY(0) ;
    }
}
@keyframes clouds2 {
    0%{
        transform: translateY(0) ;
    }
    50% {
        transform: translateX(7px) ;
    }
    100% {
        transform: translateY(0) ;
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #48EAFF;
    background: url('./media/images/Фон.png') 50% 50% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 60px 40px;
    position: relative;
    overflow: hidden;
}
.result .start_subtitle {
    width: 30%;
    text-align: center;
    margin-bottom: 40px;
    color: #FF0452;
    line-height: 115%;
}
.btn_wrapper {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-around;
    
}

.result_btn {
    font-family: "Dinpro_medium";
    height: 80px;
    width: 220px;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 30px;
    border: 4px solid #000;
    transition: .3s;
    background: transparent;
    cursor: pointer;
    color: #fff;
}
.result_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}
.result_btn--two {
    color: #000;
    background: #fff;
}
.palm_result {
    height: 50%;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.cloud_result-one {
    position: absolute;
    right: 3%;
    top: 45%;
    height: 8%;
}
.cloud_result-two {
    position: absolute;
    right: 14%;
    top: 45%;
    height: 8%;
    animation: clouds2 8s ease-in-out infinite 0.5s;
}
.cloud_result-three {
    position: absolute;
    right: 85px;
    top: 30%;
    height: 17%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
.cloud_result-four {
    position: absolute;
    left: 2%;
    bottom: 20%;
    height: 30%;
}
.cloud_result-five {
    position: absolute;
    left: -1%;
    bottom: 10%;
    height: 18%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
/* ================== media */
@media(max-width: 1200px) {
    /* clouds ========================= */
.cloud_start-one {
    position: absolute;
    right: -4%;
    top: 130px;
    height: 8%;
}
.start {
    padding: 20px 40px;
}
.start_title {
    font-size: 60px;
    width: 100%;
    margin: 0 auto 15px;
    padding: 0;
    text-align: center;
}
.start_subtitle {
    font-size: 16px;
}
.sea_start {
    height: 140px;
}
.cloud_start-two {
    position: absolute;
    right: 14%;
    top: 100px;
    height: 8%;
    animation: clouds2 8s ease-in-out infinite 0.5s;
}
.cloud_start-three {
    position: absolute;
    right: -28px;
    top: 30px;
    height: 13%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
.cloud_start-four {
    position: absolute;
    left: 2%;
    top: 3%;
    height: 18%;
}
.cloud_start-five {
    position: absolute;
    left: -1%;
    top: 16%;
    height: 10%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}
.cloud_start-six {
    position: absolute;
    left: 12%;
    top: 30%;
    height: 15%;
    animation: clouds 4s ease-in-out infinite 0.5s;
}

.yacht {
    height: 22%;
    position: absolute;
    bottom: 35%;
    left: 15%;
    animation: yacht 8s ease-in-out infinite 0.5s;
}

.palm_start-one {
    position: absolute;
    left: -60px;
    bottom: -119px;
    height: 50%;
    animation: palm_start-one 4s ease-in-out infinite 0.5s;
    transform: scale(-1, 1);
}
.palm_start-two {
    position: absolute;
    right: -40px;
    bottom: 100px;
    height: 63%;
    animation: palm_start-two 4s ease-in-out infinite 0.5s;
}

.start_subtitle {
    width: 80%;
    margin: 0 auto 15px;
}
.result .start_title {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.result .start_subtitle {
    width: 55%;
    text-align: center;
    margin-bottom: 20px;
}
.btn_wrapper {
    width: 60%;
}
.cloud_result-three {
    top: 52%;
}
.cloud_result-two {
    top: 65%;
}
}
@media(max-width: 900px) {
    .result {
        padding: 20px 40px;
    }
    .bonnie_start {
        height: 35%;
        bottom: 5%;
    }
    .palm_start-two {
        top: 26%;
        height: 59%;
    }
    .sea_waves {
        height: 8%;
    }
    .sea_start {
        height: 140px;
    }
    .cloud_start-four {
        left: -5%;
        top: 12%;
        height: 18%;
    }
    .cloud_start-five {
        top: 25%;
    }
    
    .cloud_result-four {
        height: 15%;
    }
    .cloud_result-five {
        height: 9%;
    }
    .cloud_result-one {
        display: none;
    }
    .cloud_result-three {
        right: -65px;
        top: -2%;
        height: 13%;
    }
    .cloud_result-two {
        top: 7%;
        right: 7%;
    }
    .palm_result {
        height: 45%;
        left: 10%;
    }
}
@media(max-width: 760px) {
    .cloud_start-four {
        left: -5%;
        top: 0%;
        height: 11%;
    }
    .cloud_start-five {
        left: -5%;
        top: 9%;
        height: 5%;
    }
    .cloud_start-six {
        display: none;
    }
    .btn_wrapper {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .result_btn--two {
        margin-top: 30px;
    }
    .yacht {
        left: 10%;
    }
    .palm_start-two {
        top: 34%;
        height: 42%;
    }
    .palm_start-one {
        left: -126px;
        bottom: -87px;
        height: 44%;
    }
    .sea_start {
        bottom: 40px;
        height: 140px;
    }
    .result {
        padding: 60px 30px;
    }
    .result .start_title {
        font-size: 40px;
        margin-bottom: 15px;
        width: 100%;
    }
    .result .start_subtitle {
        width: 100%;
        font-size: 16px;
    }
    .cloud_result-three {
        height: 10%;
    }
    .cloud_result-two {
        top: 30%;
        right: 5%;
        height: 5%;
    }
    .result_btn {
        font-size: 16px;
        height: 59px;
        width: 169px;
    }
    .palm_result {
        height: 40%;
    }
    .cloud_result-four {
        bottom: 23%;
    }
    .cloud_result-five {
        bottom: 17%;
    }
    .start {
        padding: 60px 20px;
    }
    .start_title {
        width: min-content;
    } 
    
}
@media(max-width: 530px) {
    .palm_start-two {
        top: 39%;
        height: 37%;
    }
    .palm_result {
        left: 50%
    }
    .yacht  {
        bottom: 35%;
        height: 18%;
        left: 5%;
    }
    .palm_start-one {
        left: -126px;
        bottom: -62px;
        height: 38%;
    }
    .cloud_start-one {
        display: none;
    }
    .cloud_start-three {
        right: -60px;
        top: 28%;
        height: 10%;
    }
    .cloud_start-two {
        top: 35%;
        height: 4%;
    }
    .sea_start {
        bottom: 3%;
        height: 140px;
    }
    .start_title {
        font-size: 46px;
    }
    .start_subtitle {
        font-size: 18px;
    }
}

.pink-color {
    color:#FF0452;
}

/* overlay_form */
.overlay_form {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background: #48EAFF;
    background: url('./media/images/Фон.png') 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.overlay_form-title {
    font-size: 36px;
    text-align: center;
    line-height: 115%;
    margin-bottom: 20px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 15px;
    width: 35%;
}
@media(max-width: 1200px) {
    .overlay_form-title {
        width: 60%;
        font-size: 24px;
    }
}
@media(max-width: 991px) {
    .overlay_form-title {
        width: 70%;
    }
}
@media(max-width: 530px) {
    .overlay_form-title {
        width: 90%;
    }
}
.overlay_form-title--one {
    margin-bottom: 20px;
}
form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
input {
    font-family: "Dinpro_medium";
    width: 100%;
    padding: 0 10px;
    height: 40px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 30px;
    /* border: 2px solid #000; */
    transition: .3s;
    background: #fff;
    cursor: pointer;  
    margin-bottom: 10px;
}

label {
    font-family: "Dinpro_light";
    font-size: 24px;
}

.form_btn {
    margin-top: 10px;
    font-family: "Dinpro_light";
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 30px;
    border: 2px solid #000;
    transition: .3s;
    background: #fff;
    cursor: pointer;
    transition: .2s;
}
.form_btn:hover {
    transition: .2s;
    transform: scale(1.07);
}
.palm_form {
    position: absolute;
    height: 50%;
    bottom: -5%;
    left: 15%;
}
.palm_form--two {
    display: none;
}
@media(max-width: 1200px) {
    .palm_form {
        height: 40%;
        bottom: -5%;
        left: 5%;
    }
}
@media(max-width: 900px) {
    .palm_form {
        height: 20%;
        bottom: -5%;
        left: 5%;
    }
}
@media(max-width: 768px) {
    .palm_form {
        height: 20%;
        top: 1%;
        left: -15%;
        transform: rotate(15deg);
    }
    .palm_form--two {
        display: block;
        position: absolute;
        height: 25%;
        bottom: -10%;
        right: -15%;
        transform: rotate(-15deg) scale(-1, 1);
        
    }
}
@media(max-width: 530px) {
    .palm_form {
        height: 20%;
    }
}