*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: "Dinpro_medium"; 
    src: url("../fonts/dinpro_condensedmedium.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "Dinpro_light"; 
    src: url("../fonts/dinpro_condensedlight.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
body {
    font-family: "Dinpro_medium";
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-transform: uppercase;
}
.world {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('./media/images/game_bg.png') 50% 50% no-repeat;
    background-size: cover;
}
.score {
    position: absolute;
    font-size: 6vmin;
    top: 5vmin;
    right: 5vmin;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    padding: 10px;
}
.start_screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:invalid {
    border: red solid 3px;
}
.hide {
    display: none;
}
.sand {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
    height: 20%;
}
.bonnie {
    --bottom: 13;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
}
.palm {
    
    bottom: 11%;
    /* --left: 0; */
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 23%;
}


.cloud_game-one {
    position: absolute;
    left: 10%;
    top: 10%;
    height: 15%;
}
.cloud_game-two {
    position: absolute;
    right: 20%;
    top: 30%;
    height: 15%;
}
.cloud_game-three {
    position: absolute;
    left: 35%;
    top: 14%;
    height: 25%;
}
.cloud_game-four {
    position: absolute;
    right: 10%;
    top: 5%;
    height: 10%;
}

@media(max-width: 768px) {
    .cloud_game-three {
        left: 20%;
        height: 18%;
    }
    .cloud_game-one {
        left: 5%;
        top: 5%;
        height: 10%;
    }
    .cloud_game-two {
        right: 10%;
        top: 30%;
        height: 13%;
    }
}

@media(max-width: 500px) {
    .palm {
        height: 13%;
        /* bottom: 10; */
    }
    .bonnie {
        height: 15%;
        /* bottom: 10; */
    }
    .sand {
        height: 25%;
    }
    .cloud_game-three {
        display: none;
    }
    .cloud_game-two {
        height: 7%;
    }
    .cloud_game-four {
        top: 13%;
    }
}
